# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lib

# Executables
*.exe
*.out
*.app

# test file
test/
.vscode/

# Data file
*.zip
*.jpg
*.png
*.csv
*.pdf